// 颜色
$mainColor: #2DCA93; // 主要颜色
$disableColor: #D6D7DB; // 主要disabled颜色
$defaultBtnHoverColor: #5AD5A9; // default按钮hover颜色
$defaultBtnDisabledColor: #D6F4E9; // default按钮disabled颜色
$mainBtnHoverColor: #EAFAF4; // main按钮hover颜色
$mainBtnDisabledColor: #D6D7DB; // main按钮disabled颜色

$titleColor: #333333; // 标题颜色
$mainFontColor: #666666; // 正文颜色
$descFontColor: #999999; // 描述文字颜色
$assistFontColor: #b5b5b5; // 最浅辅助色

// 字间距
$defaultLetterSpacing: 0; // 默认字体间距
$titleLetterSpacing: 0.3; // 标题字间距
$lineHeight: 1.5; // 多行间距
